body {
	font-family: Arial, Helvetica, sans-serif;
	background:linear-gradient(to bottom right,#28d01e,#Bcffb8,#D28d0a,#D08b03);
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
	text-align justify;
}
#page {
background-color: #FBFBFB;
}
#navigation {
	text-align: right;
	padding-top: 10px;
	padding-right: 100px;
}
#maincontent {
	overflow: hidden;
	padding: 5px;
}
h2 {
	color: #003300;
}
h3 {
	color: #004800;
}
navigation {
width: 100%;
background-color: #555;
overflow: auto;
}
navigation {
float: left;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
 text-align: center;
}
.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 15px;
}
button {
    a:link {
  font-size: 15px; 
      text-decoration: none; 
    } 
    a:visited { 
      text-decoration: none; 
    } 
    a:hover { 
      text-decoration: none; 
    } 
    a:active { 
      text-decoration: none;

    }
</body>